{% for subfield, subitem in item %}
  {% if subitem -%}
    <div class="triples-field-{{ subfield }}">
      {%- if field_settings.storage[subfield].type == 'text' -%}
        {{- subitem|nl2br -}}
      {%- else -%}
        {{- subitem -}}
      {%- endif -%}
    </div>
  {% endif %}
{% endfor %}
